.tooltip-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.tooltip-content {
    text-align: center;
}

.tooltip-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.tooltip-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tooltip-buttons button:hover {
    background-color: #0056b3;
}
